*.hi
*.o
*/experiments
*/notes
.DS_Store
.bash_history
.cache
.cargo
.config
.crystal
.ivy2
.lein
.m2
.mal-history
.mal_history
.node-gyp
.npm
.sbt
node_modules
package-lock.json

logs
old
tmp/

step0_repl
